.sign_up {
    border-radius: 0.375rem;
    transform: rotateX(0deg);
    transform-origin: 50% 50%;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0.95;
    width: 100%;
    max-width: 55rem;
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: $grid-gutter/2 0 $grid-gutter;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        text-align: center;
        @include media-bp-min(tablet) {
            font-size: 2.5rem;
        }
    }
    h3 {
        margin-bottom: $grid-gutter/2;
    }
    .columns {
        @extend %flex-container-horizontal;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        @include media-bp-min(tablet) {
            flex-direction: row;
        }
    }
    .left,
    .right {
        flex: 0 0 auto;
        width: 100%;
    }
    .left {
        @extend %flex-container-vertical;
        border-top: 0.0625rem solid $color-gray-medium;
        padding-top: $grid-gutter * 2;
        margin-top: $grid-gutter * 2;

        .site_logo {
            position: relative;
            @include media-bp-min(tablet) {
                border-bottom: 0.0625rem solid $color-gray-medium;
            }
            svg {
                height: 15rem;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                @include media-bp-min(tablet) {
                    height: 13rem;
                }
                @include media-bp-min(desktop) {
                    height: 15rem;
                }
            }
        }

        footer {
            margin-top: auto;
        }

        @include media-bp-min(tablet) {
            width: 40%;
            padding-top: 0;
            padding-right: $grid-gutter;
            margin-top: 0;
            border-top: 0;
            border-right: 0.0625rem solid $color-gray-medium;
        }
        @include media-bp-min(desktop) {
            padding-left: 0;
        }
    }
    .right {
        @include media-bp-min(tablet) {
            width: 60%;
            padding-left: $grid-gutter;
        }
        @include media-bp-min(desktop) {
            padding-right: 0;
        }
    }
    body.is-preload & {
        transform: rotateX(15deg);
        opacity: 0;
    }
}
